{% from 'mixins/_icon.jade' import icon_ %}
mixin link_to_all(text, href, class)
  a.uk-link-muted.uk-text-uppercase.tm-link-to-all(class=class, href=href)
    span=text
    mixin icon_("chevron-right", ".75")
