extends layouts/_default

block vars

block default
  section.uk-section.uk-section-small
    div.uk-container
      div.uk-grid-medium.uk-child-width-1-1(uk-grid)
        section.uk-text-center
          if page.breadcrumbs
            ul.uk-breadcrumb.uk-flex-center.uk-margin-remove

              li: a(href="/") Home
              if page.breadcrumbs != 'empty'
                each breadcrumb in page.breadcrumbs
                  li: a(href= breadcrumb.href)= breadcrumb.name

              if page.title
                li: span= page.title
        section
          block article
