{% from 'mixins/_icon.jade' import icon %}

html

  block vars

  head
    include /partials/_head
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500")
    link(rel="stylesheet" href="/static/styles/style.min.css")
    script(src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js")
    script(src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js")

  body
    div.uk-offcanvas-content
      block index

    script(src="/static/scripts/script.js")
    script(src="https://maps.googleapis.com/maps/js?key=AIzaSyClyjCemJi4m2q78gNeGkhlckpdH1hzTYA&callback=initMap", async, defer)
